.signin_page{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.logo{
    width: 50vw;
    height: 100vh;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_img{
    width: 60%;
    height: auto;
    /* border: 2px solid wheat; */
    border-radius: 50%;
}

.signin_box{
    width: 50vw;
    height: 100vh;
    background-color:#121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.signin_box input{
    width: 45%;
    height: 7%;
    border-radius: 5px;
    background-color: #292929;
    border: 0;
    padding: 0 2.5%;
    font-size: 100%;
    color: white;
}
.signin_box input:focus {
    outline: 2px solid rgb(28, 106, 247);
    color: white;
}

.credential-head{
    color: aliceblue;
    font-size: 5vh;
}
.credential-para{
    color: white;
}
.link{
    color: rgb(28, 106, 247);
}

.create_acc{
    margin: 2% 0;
    width: 50%;
    height: 7%;
    background: linear-gradient(to right, rgb(0, 255, 234), rgb(0, 106, 255));
    /* background-color: rgb(52, 144, 243); */
    border: 0;
    border-radius: 10px;
    font-size: 100%;
    
}
.create_acc:hover{
    background: linear-gradient(to right, rgb(28, 106, 247),rgb(0, 213, 255));
}


.validator_msg{
    color: red;
}